/* Media Queries Mixin
**********************/
/*--------------------------------*\
|   $COLORS
\*---------------------------------*\
/*
* Branding Colors
*/
/*--------------------------------*\
|   $MIXINS
\*---------------------------------*\
*/
h1 {
  font-size: 14px;
  margin: 0;
}

h2 {
  font-size: 12px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fadeIn {
  animation: 5000ms fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .header {
    margin: 15px 0;
    grid-template-columns: none;
    grid-template-areas: "title title" "descrip telphone";
    width: 100%;
  }
}
.header__logo img {
  width: 60%;
  height: 100px;
}
.header__search {
  width: 90%;
  height: 40%;
  display: flex;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  align-items: center;
}
.header__search input {
  width: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}
.header__search img {
  width: 8%;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
}
.header__nav {
  margin-right: 10px;
  width: 80%;
  height: -webkit-min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: right;
}
.header__nav ul {
  display: flex;
}
.header__nav li {
  list-style: none;
}
.header__nav li a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.header__nav li a:hover {
  text-decoration: underline;
}
.header__nav img {
  margin: 10px;
  width: 60px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.buyResume {
  width: 30%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.buyResume h1 {
  padding: 10px;
  font-size: 18px;
  border-left: 1px solid gray;
}
.buyResume img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container__buy {
  display: grid;
  grid-template-rows: 0.3fr 1fr 11fr;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-color: rgba(17, 143, 202, 0.6);
}
.container__products {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.6);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -ms-grid-gap: 10px;
  gap: 10px;
}

.carousel__container {
  /* display: inline-flex; */
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  -ms-grid-gap: 10px;
  gap: 10px;
  justify-content: center;
}

.carousel__item {
  width: 200px;
  height: auto;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
}

.carousel__container:hover .carousel__item {
  opacity: 0.3;
}

.carousel__container:hover .carousel__item:hover {
  transform: scale(1.1);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.carousel-item__details {
  width: 100%;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
  color: white;
  font-size: 12px;
  opacity: 1;
  transition: 450ms opacity;
  padding: 20px 20px;
  position: absolute;
  left: 10;
  right: 10;
  bottom: -15px;
}

.carousel-item__details img {
  width: 18%;
}

.carousel-item__details--title {
  font-weight: bold;
  font-size: 16px;
}

.carousel-item__details--title {
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}

.carousel-item__details--subtitle {
  font-size: 14px;
  margin: 5px 0;
}

.footer {
  height: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  align-items: center;
  color: black;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.modal-btn {
  text-align: center;
  padding: 0.6em 0.8em 0.8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.2);
  outline: 0;
  transition: 0.2s;
  will-change: transform;
}

.modal-btn.primary {
  background: #2988f5;
}

.modal-btn.warning {
  background: #ff463b;
}

.modal-btn:active {
  transform: scale(0.9);
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition: 300s ease-in;*/
  /*opacity: 0;*/
  /*visibility: hidden;*/
  display: none;
}

.overlay.active {
  /*opacity: 1;*/
  /*visibility: visible;*/
  display: flex;
}

.modal {
  width: 500px;
  background: white;
  padding: 2em;
  border-radius: 0.5em;
  text-align: center;
  z-index: 2;
  transform: translateY(-3000px);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 500px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  display: flex;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
}

.modal-content p {
  align-self: center;
}

/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}