footer.footer
	<a href="">Términos de uso</a>
	<a href="">Privacidad</a>
	<a href="">Centro ayuda</a>
	span
		h2 Designed by Brahianf H
	//- nav.nav--footer: ul
	//- 	li Siguenos
	//- 	li: a(href="#"): i.fab.fa-instagram
	//- 	li: a(href="#"): i.fab.fa-pinterest
	//- 	li: a(href="#"): i.fab.fa-twitter
	//- 	li: a(href="#"): i.fab.fa-facebook-f


