//-   .modal id="modal"
//-     h1 Producto
//-     .modal.content
//-         img(src="", alt="",width="170", height="256" )
//-         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corporis alias similique quia maxime. Quisquam molestias at odit eligendi, facilis officiis mollitia. Expedita veritatis magni 
//-     .modal-buttons
//-         button.modal-btn primary id="hide-modal" Cerrar modal

<div class="overlay" id="overlay"></div>
<div class="modal" id="modal">
    <h1>Nombre Producto</h1>
    <h2>Ref: </h2>
    <div class="modal-content">
        <img src="" alt="" width="170" height="256">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit maiores enim alias ex accusantium quasi cum autem, nam, voluptas tenetur laudantium quod! Odit voluptate illo, voluptas vel quia, quae.</p>
    </div>
    <h3>Precio</h3>
    <div class="modal-buttons">
        <img id="add" src="https://img.icons8.com/flat_round/64/000000/plus.png"  alt="Icon add"/>
        <img id="sub" src="https://i.ibb.co/4TWF1jP/plus.png"  alt="Icon sub"/>
        <button class="modal-btn primary" id="hide-modal">Cerrar</button>
    </div>
</div>
