//-   .modal id="modal"
//-     h1 Producto
//-     .modal.content
//-         img(src="", alt="",width="170", height="256" )
//-         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem corporis alias similique quia maxime. Quisquam molestias at odit eligendi, facilis officiis mollitia. Expedita veritatis magni 
//-     .modal-buttons
//-         button.modal-btn primary id="hide-modal" Cerrar modal

<div class="overlay" id="overlay">
</div>
<div class="modal" id="modal">
    <h1>Título de pelicula</h1>
    <div class="modal-content">
        <img src="" alt="" width="170" height="256">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit maiores enim alias ex accusantium quasi cum autem, nam, voluptas tenetur laudantium quod! Odit voluptate illo, voluptas vel quia, quae.</p>
    </div>
    <div class="modal-buttons">
        <button class="modal-btn primary" id="hide-modal">Cerrar Modal</button>
    </div>
</div>
