.shoppingCart
    h1(id="cantidadProductos") Cantidad Productos: 0
    h1(id="totalPago") Total: 0
    a(href="buy.html" class="shoppingCart-Cart" id="shoppingCart")
        img(src="../css/shopping-cart-svgrepo-com.svg", alt="")