<!DOCTYPE html>
html(lang="en")
    include head.pug
    body
        include mixins.pug
        include header.pug
        include shoppingCart.pug
        block shoppingCart
        include footer.pug
        include scripts2.pug