<!DOCTYPE html>
html(lang="en")
    include head.pug
    body
        include mixins.pug
        include header.pug
        include buyResume.pug
        block container
        include footer.pug
        include modal.pug
        include scripts.pug