// .carousel {
//     width: 100%;
//     height: 300px;
//     padding: 30px;
//     /* overflow: scroll; */
//   }
  
  .carousel__container {
    /* display: inline-flex; */
    // white-space: nowrap;
    // margin: 0;
    // padding-bottom: 10px;
    width: 80%;
    margin: 0 auto;
    @include display-grid;
    @include  grid-template-columns(repeat(4, 1fr));
    @include  grid-template-rows(repeat(3, 1fr));
    @include  grid-gap(10px);
    justify-content: center;
  }
  
  .carousel__item {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    text-align: center;
  }
  
  .carousel__item:hover ~ .carousel__item {
    // transform: translate3d(80px, 0, 0);
  }
  
  .carousel__container:hover .carousel__item {
    opacity: 0.3;
  }
  
  .carousel__container:hover .carousel__item:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  
  .carousel-item__img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .carousel-item__details {
    width: 100%;
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    font-size: 12px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 20px 20px;
    position: absolute;
    left: 10;
    right: 10;
    bottom: -15px;
  }
  
  .carousel-item__details img {
    width: 18%;
  }
  
    
  .carousel-item__details--title {
    margin: 5px 0;
    font-weight: bold;
    font-size: 18px;;
  }

  .carousel-item__details--subtitle{
      font-size: 18px;
      margin: 5px 0;
  }
