

// .container__coverPage{
//     padding: 10px;
// }

.coverPage__image img{
    width: 100%;
}

.coverPage__text {

    &--category {
        display: flex;
        & p {
            width: 90%;
            text-transform: uppercase;
            color: get-opacity($color-primario, .70);
            font-weight: 900;
        }
        & img{
            cursor: pointer;
        }
    }
    &--text {
        & h1 {
            width: 100%;
            font-size: 30px;
            font-weight: 900;
        }
        & p {
            font-size: 20px;
            color: get-opacity($color-primario, .70);
        }
    }
}

.coverPage__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img {
        width: 80px;
        cursor: pointer;
    }
    &--title{
        // display: flex;
        // justify-content: start;
        width: 100%;
        margin-left: 10px;
        & h2 {
            font-size: 22px;
            font-weight: 900;
        }
        & p{
            text-align:left;
            margin:0; 
            color: get-opacity($color-primario, .50);
        }
    }
}
