
.subtitles {
    margin: 5px;
    padding: 5px;
    border-top: 1.2px solid get-opacity($color-primario, .40);;
    border-bottom: 1.2px solid get-opacity($color-primario, .40);
    & ul{
        display: grid;
        grid-template-columns: .4fr repeat(5, 1fr) .4fr;
        justify-content: space-around;
        gap: 5px;
        margin: 0;
        padding: 10px;
        background-color: get-opacity($color-secundario,.60);
        & p{
            margin: 0;
            height: max-content;
            border-right: 1.2px solid get-opacity($color-primario, .70);
            font-size: 16px;
            font-weight: 510;
            word-spacing: 2px;
            text-align: center;
            @include media(tablet){
                font-size: 14px;
            };
        }
    }
}