<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <title>WooCom</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&amp;display=swap"/>
    <link rel="stylesheet" href="../css/styleMain.css"/>
  </head>
  <body>
    <header class="header">
      <div class="header__logo"><a href=""><img src="https://i.imgur.com/ImScGmQ.png"/></a></div>
      <div class="header__search">
        <input class="input" type="text" placeholder="Buscar"/><img src="https://i.imgur.com/RyhYXHg.jpg" alt="Imagen Lupa"/>
      </div>
      <div class="header__nav">
        <nav class="nav--header">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Brahian Hurtado</a></li>
          </ul>
        </nav><img src="https://i.imgur.com/7Bk00UZ.jpg" alt=""/>
      </div>
    </header>
    <div class="buyResume">
      <h1>Cantidad Productos:</h1>
      <h1>Total:</h1><a href="buy.html"><img src="https://imgur.com/LC7AyXl.png" alt=""/></a>
    </div>
    <footer class="footer"><a href="">Términos de uso</a>
<a href="">Privacidad</a>
<a href="">Centro ayuda</a><span>
        <h2>Designed by Brahianf H</h2></span>
    </footer><div class="overlay" id="overlay">
</div>
<div class="modal" id="modal">
<h1>Título de pelicula</h1>
<div class="modal-content">
<img src="" alt="" width="170" height="256">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione impedit maiores enim alias ex accusantium quasi cum autem, nam, voluptas tenetur laudantium quod! Odit voluptate illo, voluptas vel quia, quae.</p>
</div>
<div class="modal-buttons">
<button class="modal-btn primary" id="hide-modal">Cerrar Modal</button>
</div>
</div>
    <script src="../js/home.js"></script>
  </body>
</html>