extend components/template.pug
block container
    main.carousel
            .carousel__container
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
                +carousel("Computador","12000", "https://i.imgur.com/psYpKJZ.jpg")
