extend components/template.pug
block container
    main(class="carousel__container" id="carousel")
        .carousel__container
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")
                +carousel("","","../css/loader.gif")

